[Desktop Entry]
Comment=Python IDE
Exec=/usr/local/bin/pycharm
Icon=/usr/local/src/pycharm-4.0.4/bin/pycharm.png
Name=PyCharm 4 Professional
Terminal=false
Type=Application
Categories=Development;Python;
